<html>
    <style></style>
    <head><title>Sign Up Page</title></head>
    <body>
        <link href='../CSS/login_styles.css' rel='stylesheet' type='text/css'>

        <div class="login">
        <h2 class="active"> sign up </h2>
        <form>
            <label><b> USERNAME</b></label>
            <input type="text" class="text" id="username">
            <br>
            <label><b> PASSWORD</b></label>
            <input type="password" class="text" id="pass">
            <br>
            <label><b> RE-ENTER PASSWORD</b></label>
            <input type="password" class="text" id="repass">
            <br>
            
            <button class="signin">
            SIGN UP
            </button>
            <a href="signin.html">Sign In</a>
            <hr>
        </form>

        </div>
    </body>
</html>